{{! @TODO: File path }}
{{#if itemAttributes.extends}}
  <li><span>Extends:</span> <a href="">{{itemAttributes.extends}}</a></li>
{{/if}}
{{#if itemAttributes.module}}
  <li><span>module:</span> <a href="">{{itemAttributes.module}}</a></li>
{{/if}}

{{! @TODO: File path }}
{{#if itemAttributes.definedIn}}
  <div>
    <span>Defined In:</span> <a href="{{itemAttributes.file}}#{{itemAttributes.line}}">{{itemAttributes.definedIn}}</a>
  </div>
{{/if}}

{{#if itemAttributes.constructor}}
  <div>
    <h3>Constructor</h3>
    <h5>{{itemAttributes.name}} ()</h5>
    <small>Defined In: <a href="{{itemAttributes.file}}#{{itemAttributes.line}}">{{itemAttributes.definedIn}}</a></small>
  </div>
{{/if}}
